body {
    font-family: 'Arial', sans-serif;
    background-color: lightblue;
    text-align: center;
    color: purple;
}

h1 {
    color: blue;
    font-size: 2.5em;
}

h2 {
    color: blue;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: blue;
}
